name: Hprofile Action
on: workflow_dispatch
jobs: 
  Testing:
    runs-on: ubuntu-latest
    steps:
     - name: Code checkout
       uses: actions/checkout@v5

     - name: Set Java 17
       uses: actions/setup-java@v3
       with:
        distribution: 'temurin' # See 'Supported distributions' for available options
        java-version: '17'

     - name: Maven Test
       run: mvn test

     - name: Checkstyle
       run: mvn checkstyle:checkstyle

     # Setup sonar-scanner
     - name: Setup SonarQube
       uses: SonarSource/sonarqube-scan-action@v4
       with:
         version: 7.2.0.5079

     # Run sonar-scanner
     - name: SonarQube Scan
       run: sonar-scanner
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }}
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
            -Dsonar.sources=src/
            -Dsonar.junit.reportsPath=target/surefire-reports/ 
            -Dsonar.jacoco.reportsPath=target/jacoco.exec 
            -Dsonar.java.checkstyle.reportPaths=target/checkstyle-result.xml
            -Dsonar.java.binaries=target/test-classes/com/visualpathit/account/controllerTest/
