name: Hprofile Action
on: workflow_dispatch
jobs: 
  Testing:
    runs-on: ubuntu-latest
    steps:
     - name: Code checkout
       uses: actions/checkout@v5

     - name: Set Java 17
       uses: actions/setup-java@v3
       with:
        distribution: 'temurin' # See 'Supported distributions' for available options
        java-version: '17'

     - name: Maven Test
       run: mvn test

     - name: Checkstyle
       run: mvn checkstyle:checkstyle

     - name: SonarCloud Scan
       uses: SonarSource/sonarcloud-github-action@v2
       with:
         args: >
           -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }}
           -Dsonar.login=${{ secrets.SONAR_TOKEN }}
           -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}
           -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
           -Dsonar.sources=src
           -Dsonar.java.binaries=target/classes
           -Dsonar.junit.reportsPath=target/surefire-reports
           -Dsonar.java.checkstyle.reportPaths=target/checkstyle-result.xml
           -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
